@use '../foundation/mixin' as *;
@use '../foundation/variable' as *;

.l-header {
 background-color: yellow;
 width: 100%;
 height: 8rem;
 padding-inline: 10rem;
 margin: 0 auto;
 position: fixed;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 100;
 @include sp {
   height: 5rem;
   padding-inline: 2rem 0;
 }
}

.l-header__logo {
 background-color: aqua;
 height: inherit;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.l-header-logo__img {
 width: 3.3rem;
}

.l-header-logo__text {
 padding: 0.4rem 0 0 0.9rem;
}

.l-header-logo__text h1 {
 font-size: 2rem;
 line-height: calc(23 / 20);
 @include sp {
  font-size: 1.3rem;
  line-height: calc(14 / 13);
 }
}

.l-header-logo__text span {
 font-size: 1.5rem;
 line-height: calc(23 / 15);
 @include sp {
  font-size: 1.3rem;
  line-height: calc(14 / 13);
 }
}

.l-header__right {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.l-header__lists {
 display: flex;
 align-items: center;
 justify-content: space-between;
 column-gap: 3.3rem;
}

.l-header__list a {
 background-color: aqua;
 display: block;
 font-size: 1.7rem;
 line-height: calc(33 / 17);
 padding: 2.5rem 0 2.2rem;
 transition:  opacity .4s;
 position: relative;
 @include sp {
  background-color: $color-red;
  color: #fff;
  font-size: 1.8rem;
  line-height: calc(33 / 18);
 }
}

.l-header__list a:hover {
 opacity: 0.5;
}
.l-header__list a::before {
 content: '';
 background-color: #000;
 width: 100%;
 height: 0.2rem;
 position: absolute;
 left: 0;
 bottom: 2.5rem;
 transform: scaleX(0);
 transform-origin: left;
 transition: transform .4s;
}

.l-header__list a:hover::before {
 transform: scaleX(1);
}


.c-btn {
 background-color: $color-red;
 color: #fff;
 border: 0.1rem solid transparent;
 transition: background-color .4s,color .4s,border .4s;
}

.c-btn:hover {
 background-color: #fff;
 color:  $color-red;
 border: 0.1rem solid  $color-red;
}

.c-btn--wh {
 margin-left: 3.3rem;
 padding: 0.7rem 3rem 0.5rem 3rem;
 font-size: 1.5rem;
 line-height: calc(33 / 15);
}

